<%= form_for @post, :html => {:multipart => true} do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <%= f.label :title %>
    <div class="input">  
      <%= f.text_field :title, :class => "xlarge" %>
    </div>
  </div>  
  
  <div class="clearfix">
    <%= f.label :body %>
    <div class="input">  
      <%= f.text_area :body %>
    </div>
  </div>
  
  <div class="clearfix">
    <%= f.label :video_code %>
    <div class="input">  
      <%= f.text_area :video_code %>
    </div>
  </div>
  
  <div class="clearfix">
    <%= f.label :image %>
    <div class="input">  
      <%= f.file_field :image %>
    </div>
  </div>
      
  <div class="input">
    <%= f.submit :class => "btn success" %>
  </div>
  
<% end %>
